body {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    height: 95vh;
    margin: 0;
}

.no-songs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 20px;
    color: #555;
}

.flex-container {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px; /* Space below this container */
}

.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1100px;
    overflow-y: auto;
    height: 1100px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    flex: 1;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 10px;
}